body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: grid;
    grid-template-columns: 0.5fr 1.0fr 0.5fr;
    grid-template-rows: 0.5fr 2fr 1fr;
}

a{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

img{
    padding-top: 15px;
    width: 65px;
    height: 65px;
    
}

h1{
    grid-column: 2 / 3;
    font-size: 2.3em;
    display: flex;
    justify-content: center;
}

form{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: grid;
    grid-row-gap: 0.7em;
    font-size: 1.3em;
}

form label{
    display: flex;
    justify-content: center;
}

form input{
    font-size: 1.1em;
}

form button{
    border-radius: 8px;
    font-size: 1.0em;
}