<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exclusão de Cadastros</title>
    <link rel="stylesheet" href="/css/Delete.css">
</head>
<body>
    <h1>Exclusão de Cadastros</h1>

    <a href="/" class="seta"><img src="/img/Arrow_Left.png"></a>

    <div class="CampoDeTexto">
        <input type="text" id="campo" placeholder="Digite um CPF, RG ou ID">
        <button id="busca">Busca</button>
    </div>

    <div class="Caixa">
        <h2 id="id">Id: </h2>
        <h2 id="nome">Nome: </h2>
        <h2 id="idade">Idade: </h2>
        <h2 id="endereco">Endereço: </h2>
        <h2 id="cpf">CPF: </h2>
        <h2 id="rg">RG: </h2>
    </div>

    <form action="Delete-student" method="post" onsubmit="validate()">
            <label for="id" hidden>Id</label>
            <input type="text" id="idForm" name="id" hidden>
            <label for="nome" hidden>Nome</label>
            <input type="text" id="nomeForm" name="nome" hidden>
            <label for="idade" hidden>Idade</label>
            <input type="text" id="idadeForm" name="idade" hidden>
            <label for="endereco" hidden>Endereço</label>
            <input type="text" id="endereçoForm" name="endereco" hidden>
            <label for="cpf" hidden>CPF</label>
            <input type="text" id="CPFForm" name="cpf" hidden>
            <label for="rg" hidden>RG</label>
            <input type="text" id="RGForm" name="rg" hidden>
            <button type="submit" id="excluir">Excluir Usuário</button>
    </form>

</body>
<script src="/scripts/delete.js"></script>
</html>