<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busca de Cadastros</title>
    <link rel="stylesheet" href="/css/showUsers.css">
</head>
<body>
    <h1>Busca de Cadastros</h1>

    <a href="/" class="seta"><img src="/img/Arrow_Left.png"></a>

    <div class="CampoDeTexto">
        <input type="text" id="campo">
        <button id="busca">Busca</button>
        <select id="opcao">
            <option value="id">ID</option>
            <option value="nome">Nome</option>
            <option value="idade">Idade</option>
            <option value="endereco">Endereço</option>
            <option value="cpf">CPF</option>
            <option value="rg">RG</option>
        </select>
    </div>
    

    <div class="table">
        <h2>Id</h2>
        <h2>Nome</h2>
        <h2>Idade</h2>
        <h2>Endereço</h2>
        <h2>CPF</h2>
        <h2>RG</h2>
    </div>

    
</body>

<script src="/scripts/ShowUsers.js"></script>
</html>